NPRG036-T3G1-HW3/3/xml/schemas/schema-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/schema-2"
           xmlns="http://www.example.com/schema-2"
           xmlns:tns="http://www.example.com/schema-2"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="https://www.w3.org/2009/01/xml.xsd" />
    <xs:complexType name="langElement">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Buildings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Building" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="address" type="tns:langElement"/>
                            <xs:element name="name" type="tns:langElement"/>
                            <xs:element name="Classroom" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="capacity" type="xs:integer"/>
                                        <xs:element name="name" type="tns:langElement"/>
                                        <xs:element name="Subject" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="tns:langElement"/>
                                                    <xs:element name="code" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:anyURI" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:anyURI" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:anyURI" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>